[submodule "k8s-projs"]
	path = k8s-projs
	url = https://github.com/Sora-mmh/deploy-and-orchestrate-apps-with-K8s.git
[submodule "mongo-and-mongo-express-on-k8s"]
	path = mongo-and-mongo-express-on-k8s
	url = https://github.com/Sora-mmh/mongo-and-mongo-express-on-k8s.git
[submodule "dashboard-ingress-on-k8s"]
	path = dashboard-ingress-on-k8s
	url = https://github.com/Sora-mmh/dashboard-ingress-on-k8s.git
[submodule "mosquitto-config-on-k8s"]
	path = mosquitto-config-on-k8s
	url = https://github.com/Sora-mmh/mosquitto-config-on-k8s.git
[submodule "ms-on-k8s"]
	path = ms-on-k8s
	url = https://github.com/Sora-mmh/ms-on-k8s.git
[submodule "ms-helm-charts-on-k8s"]
	path = ms-helm-charts-on-k8s
	url = https://github.com/Sora-mmh/ms-helm-charts-on-k8s.git
